@using TMS.Application.ViewModels
@model List<VehicleViewModel>
<div class="row">
    <a href="/vehicles/create"> Add New Vehicle</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">IsAvailable</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Make</td>
                <td>@item.Model</td>
                <td>@item.Year</td>
                <td>@item.IsAvailable</td>
                <td>
                    <a href="/vehicles/create/@item.Id" class="btn btn-primary">Edit</a>               
                    <a href="/vehicles/delete/@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>